.btnM{
    width: 85%;
    height: 6.5em;
    margin: 0.3rem;
}

.hh{
    position: absolute !important;
    width: 100%;
    height: 100%;
}

.btnText{
    padding-top: 4rem;
}

.btnImg{
    padding-top: 1rem;
}

.btn{
    width: 30%;
    height: 6rem;
    margin: 4px;
    padding: 0;
}

.btns{
    margin-top: 5%;
    text-align: center;
}

.mov{
    --background: #B112E0;
    --background-hover: #B112E0;
}