.content{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 40%;
}

.btnM{
    margin-bottom: 10px;
}

.btnLocalColor{
    --background: #3880ff;
}

.btnRemoteColor{
    --background: #8741BE;
}

.infoTxt{
    margin-top: 12%;
    font-size: 1.1rem;
    text-align: center;
}