<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/local"></ion-back-button>
    </ion-buttons>
    <ion-title>Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="deviceBoton" (click)="emparejarSend()" size="full">Emparejar</ion-button>
  <ion-button class="deviceBoton" (click)="changeName()" size="full">Modificar elementos</ion-button>
  <ion-button class="deviceBoton" (click)="buscar()" size="full">Buscar dispositivos</ion-button>
</ion-content>
